<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Albedo" version="0.1.1" targetFramework="net40" />
  <package id="AutoFixture" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.AutoMoq" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.Idioms" version="3.16.5" targetFramework="net40" />
  <package id="AutoFixture.Xunit" version="3.16.5" targetFramework="net40" />
  <package id="FrontIT.Matchers" version="1.1.5065.8019" targetFramework="net40" />
  <package id="Moq" version="3.1.416.3" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>